<a href="https://colab.research.google.com/github/Mengting-ting/COLab/blob/main/%E8%AE%80%E5%8F%96GitHub%E7%9A%84csv%E6%AA%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [9]:
url = "https://raw.githubusercontent.com/Mengting-ting/COLab/main/TEJ.csv"

In [10]:
df = pd.read_csv(url, index_col=0)

In [11]:
print(df.head(5))

        Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6  \
累計
公司             年/月         季別    合併(Y/N)         月份         幣別       資產總額
4175 杏一    2023/03          1          Y         03        NTD  7,040,034
4175 杏一    2023/06          2          Y         06        NTD  7,147,290
4175 杏一    2023/09          3          Y         09        NTD  7,708,047
4175 杏一    2023/12          4          Y         12        NTD  7,629,534

        Unnamed: 7
累計
公司          營業收入淨額
4175 杏一  1,753,111
4175 杏一  3,590,693
4175 杏一  5,438,501
4175 杏一  7,446,190